* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	min-width: 324px;
	display: flex;
	flex-direction: column;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
}

.page-header {
	padding: 45px 36px;
}

main {
	margin-top: 50px;
	flex: 1 0 auto;
}

h1 {
	margin-bottom: 35px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 47px;
	color: #7F7F97;
}

.login-form {
	margin: 0 auto;
	width: 324px;
	height: 249px;
}

input {
	border-radius: 10px;
	border: 1px solid #E7E8EB;
	box-sizing: border-box;
	font-size: 30px;
	line-height: 35px;
}

.login:first-child {
	margin-bottom: 21px;
}

.login:last-child {
	margin-top: 36px;
}

.login {
	padding: 15px 9px 14px 9px;
	width: 324px;
	height: 64px;
}

.login:hover {
	border: 1px solid #BBBBD7;
	box-shadow: none;
}

.login:focus {
	outline: none;
	border-color: #BBBBD7;
}

.button {
	background-color: #E7E7F1;
	color: #3C3E3C;
}

.login-btn {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.wrong-login {
	margin-top: 10px;
	color: red;
	font-size: 16px;
	line-height: 18px;
}

.page-nav {
	max-width: 896px;
	margin: 0 auto;
	margin-bottom: 72px;
}

.page-nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.page-nav li {
	font-size: 40px;
	line-height: 47px;
	color: #7F7F97;
	cursor: pointer;
}

.page-nav li:hover {
	font-weight: bold;
}

.selected {
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

section {
	margin: 0 auto;
	margin-bottom: 111px;
}

.adresses form {
	width: 908px;
	margin: 0 auto;
	margin-bottom: 31px;
}

.adresses form input {
	width: 100%;
	height: 39px;
	padding-left: 22px;
	font-size: 30px;
	line-height: 35px;
	border: 1px solid #ADACAC;
	border-radius: 39px;
}

.adresses form input:focus {
	outline: none;
	border: 1px solid #ADACAC;
}

.adresses .wrapper {
	position: relative;
	margin: 0 auto;
	width: 1256px;
	height: 416px;
	overflow-y: scroll;
}

.wrapper::-webkit-scrollbar {
	width: 16px;
	border: 1px solid #E7E7F1;
	border-radius: 16px;
}

.wrapper::-webkit-scrollbar-thumb {
	background-color: #E7E7F1;
	border-radius: 16px;
}

/*.wrapper .img {
	position: absolute;
	top: 0;
	right: 28px;
	display: none;
	width: 434px;
	height: 276px;
	background: url("img/1.jpg") no-repeat;
}*/

.adresses .table-container {
	width: 1224px;
	padding-left: 32px;
	padding-right: 24px;
	background-color: #F8F8FC;
	border-radius: 10px;
	box-sizing: border-box;
}

.adresses .table {
	display: table;
	width: 1168px;
}

.table .row {
	display: table-row;
	background-color: #F8F8FC;
}

.row:not(:first-child):hover .cell {
	border-top: 1px solid #CCCCE1;
	border-bottom: 1px solid #CCCCE1;
}

.row:not(:first-child):hover .cell:first-child {
	border-left: 1px solid #CCCCE1;
}

.row:not(:first-child):hover .cell:last-child {
	border-right: 1px solid #CCCCE1;
}

.table .row:first-child .cell {
	font-size: 32px;
	line-height: 37px;
	font-weight: 500;
}

.row .cell {
	display: table-cell;
	height: 67px;
	padding-right: 81px;
	vertical-align: middle;
	font-size: 26px;
	line-height: 30px;
	color: #2E2E65;
	border-bottom: 1px solid #EAEAF4;
}

.row .cell:nth-child(1) {
	width: 230px;
	box-sizing: border-box;
}

.row .cell:nth-child(2) {
	width: 185px;
}

.row .cell:nth-child(3) {
	width: 72px;
	text-align: right;
}

.row .cell:nth-child(4) {
	width: 225px;
}

.row .cell:nth-child(5) {
	width: 132px;
	padding-right: 0;
	box-sizing: border-box;
    text-align: right;
}

.upload {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 896px;
	height: 485px;
	background: #FDFDFF;
	border: 3px solid #F9F9FE;
	box-sizing: border-box;
	border-radius: 10px;
}

.upload form {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 476px;
	height: 179px;
}

.upload span {
	font-size: 40px;
	line-height: 47px;
	color: #55556F;
}

.upload-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 63px;
	width: 357px;
	height: 69px;
	border-radius: 10px;
	border: 1px solid #E7E8EB;
	box-sizing: border-box;
	font-size: 30px;
	line-height: 35px;
	cursor: pointer;
}


#upload-btn {
	width: 1px;
	height: 1px;
	z-index: -1;
	opacity: 0;
	position: absolute;
	overflow: hidden;
}

.hidden {
	display: none;
}


.page-footer {
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	width: auto;
	padding: 30px 52px 19px 36px;
	background-color: #3B3B50;
	color: #D9DBE1;
}

.corp-name {
	align-self: flex-end;
}

.right-col {
	display: inline-block;
	text-align: right;
}

.right-col a {
	text-decoration: none;
	color: #D9DBE1;
}

.social {
	margin-top: 21px;
	margin-right: 9px; 
	display: inline-block;
	width: 24px;
	height: 24px;
}

.social:last-child {
	margin-right: 0;
}

.social-fb {
	background: url('img/fb.png') no-repeat;
}

.social-tw {
	background: url('img/tw.png') no-repeat;
}
